.header {
    display: flex; 
    padding: 10px 20px;   
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 100;
    background-color: white;
    box-shadow : 0px 5px 8px -9px rgba(0, 0, 0, 0.5);
    height: auto;
}
.header_left{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header__input{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
    height: 30px;


}

.header__input > input {    
    border: none;
    background-color: transparent ;
    outline-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header_left > img{
    height: 70px;
}

.header_middle{
    display: flex;
    flex: 1;
    justify-content: center;
}
.header__option > .MuiSvgIcon-root{
    color: grey;
}
.header__option:hover > .MuiSvgIcon-root{
    color: #2e81f4;
}
.header__option--active {
    border-bottom: 4px solid #2e81f4;
}
.header__option{
    display: flex;
    justify-content: center;
    padding: 30px;
    cursor: pointer;
}
.header__option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}
.header__info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__info  > h4 {
    margin-left: 10px;
}
.header_right {
    display: flex;
}
