.messagesender{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 5px 10px -7px rgba(0, 0, 0, .75);
    width: 100%;
}
.messagesender__top{
    display: flex;
    border-bottom: 1 px solid #eff2f5;
    padding-bottom: 15px;
    padding: 15px;
}
.messagesender__top > form {
    flex: 1;
    display: flex;
}

.messagesender__top > form > input {
    outline-width: 0 ;
    border: none;
    padding : 5px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
}
.messagesender__top > form > button {
    display: none;
}
@media screen and (max-width: 1200px) {
    .messagesender__top > form > button {
        display: visible;
    }
}

.messagesender__input {
    flex: 1;
}
.messagesender__bottom {
    display: flex;
    justify-content: space-evenly;    
}
.messagesender__option {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    margin:5px;
}
.messagesender__option > h3 {
    margin-left: 10px;
}